@import '../../../styles/variables';

.video-detail {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  width: calc(100% - #{$header-padding * 2});
  margin: 0 auto;
  padding-top: 1.25em;

  > a {
    align-self: flex-start;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.45em;
    text-decoration: none;
    color: $back-fg;

    .icon {
      margin-right: .25em;
    }
  }

  section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.8125em;
    margin-bottom: 1.8125em;
    background: $video-callout-bg;
    box-shadow: $video-callout-shadow;

    h2 {
      overflow: hidden;
      margin-top: .3em;
      margin-bottom: .55em;
      padding: 0 1.25em;
      font-size: 1.1em;
      line-height: 1.42em;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    header {
        display: flex;
        width: 100%;
    }

    h3 {
      margin-top: .65em;
      font-size: 1em;
      color: $standout-fg;
    }

    .info {
      position: relative;
      cursor: help;

      .icon:before {
        content: url('../../../images/info.png');
        display: block;
        margin-top: .25em;
      }

      &:hover {
        .icon:before {
          content: url('../../../images/info_hover.png');
        }

        .popup {
          display: block;
        }
      }

      .popup {
        display: none;
        position: absolute;
        margin-top: -1.5em;
        margin-left: 2em;
        padding: 1em;
        font-size: .9em;
        color: $help-fg;
        background: $help-bg;
        box-shadow: $help-shadow;
      }
    }

    .viewer, .annotations, .controls, .options {
      background: $video-callout-panel-bg;
    }

    // Original value, maxes out at bottom of the viewport: calc(100vh - 16.87825em - 6px)
    // The one below gives a bit of margin at the bottom of the viewport. These values are
    // calculated from all of the elements heights and any appropriate paddings or margins
    // excepting this element. This currently doesn't account for the analysis bars.
    .viewer {
      //max-height: calc(100vh - 18.31575em - 8px);

      video {
        display: none;
        width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
      canvas {
        display: block;
        width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }

    .annotations {
      padding: 0 1.625em;
    }

    .controls {
      padding-top: 7px;

      .rewind {
        &:before {
          content: url('../../../images/rewind.png');
        }
        &:hover:before {
          content: url('../../../images/rewind_hover.png');
        }
      }

      .previous-frame {
        &:before {
          content: url('../../../images/previous-frame.png');
        }
        &:hover:before {
          content: url('../../../images/previous-frame_hover.png');
        }
      }

      .play {
        &:before {
          content: url('../../../images/play.png');
        }
        &:hover:before {
          content: url('../../../images/play_hover.png');
        }
      }

      .pause {
        &:before {
          content: url('../../../images/pause.png');
        }
        &:hover:before {
          content: url('../../../images/pause_hover.png');
        }
      }

      .next-frame {
        &:before {
          content: url('../../../images/next-frame.png');
        }
        &:hover:before {
          content: url('../../../images/next-frame_hover.png');
        }
      }

      .fast-forward {
        &:before {
          content: url('../../../images/fast-forward.png');
        }
        &:hover:before {
          content: url('../../../images/fast-forward_hover.png');
        }
      }
    }

    .viewer, .controls {
      width: calc(73% - 9px);
      margin-left: 2px;
    }

    .annotations, .options {
      box-sizing: border-box;
      width: 27%;
      margin-right: 2px;
      margin-left: 5px;
    }

    .controls, .options {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5px;
      margin-bottom: 2px;

      .btn {
        margin-right: 1.75em;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .options {
      .btn {
        font-size: .5em;
      }

      .annotate:before {
        content: url('../../../images/edit.png');
        transform: translateX(.25em);
      }

      .annotate:hover:before {
        content: url('../../../images/edit_hover.png');
      }

      .download {
        margin-top: 5px;

        &:before {
          content: url('../../../images/download.png');
        }

        &:not(.disabled):hover:before {
          content: url('../../../images/download_hover.png');
        }
      }
    }
  }

  .annotations {
    overflow: auto;

    .box {
      display: inline-block;
      width: .75em;
      height: .75em;
      vertical-align: middle;
      margin-right: .5em;
    }

    h4 {
      display: inline-block;
      margin: 0;
    }

    > ul {
      padding-left: 0;

      ul {
        padding-left: 1.25em;
      }
    }

    li {
      margin: .125em 0;
      list-style-type: none;
    }
  }

  .analyses {
    position: relative;
    border-top: 5px solid $video-callout-bg;

    .scrubber {
      position: absolute;
      top: 0;
      width: 2px;
      height: 100%;
      background: $standout-fg;

      &:after {
        content: '';
        border-top: 10px solid $standout-fg;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }
    }
  }
}


@keyframes stripes {
  from {
    background-position: -34px 0;
  }
  to {
    background-position: 0 0;
  }
}
