@import 'variables';
@import '~font-awesome/scss/font-awesome';

/* So many bleeping wrapper tags. */
html,
body,
#app,
#app > div,
main {
  height: 100%;
  margin: 0;
  font-family: Amiko, sans-serif;
  color: $site-fg;
  background: $site-bg;
}

main {
  display: flex;
  flex-direction: column;

  & > header {
    display: flex;
    align-items: center;
    padding: 0 $header-padding;
    color: $header-fg;
    background: $header-bg;
    border-bottom: 1px solid $header-border;

    &:after {
      content: '';
      flex-grow: 1;
      order: 1;
    }

    > div {
      order: 2;
    }

    .btn {
        color: $site-fg;
    }

    .btn:first-child {
        margin-right: 4.787em;
    }
  }

  & > section {
    padding-bottom: 25px;
  }
}

h1 {
  margin: .6875em 0 .78125em;
  font-size: 2em;
  font-variant: small-caps;
  line-height: 1em;
}

h2, h3 {
  color: $headings-fg;
}

.btn {
  display: inline-flex;
  align-items: center;
  font-size: .875em;
  cursor: pointer;

  &:before {
    margin-right: .25em;
  }
}

.btn.add:before {
  content: url('../images/add.png');
}

.btn.settings:before {
  content: url('../images/settings.png');
}

.icon-label {
  position: absolute;
  top: -1000px;
  left: -1000px;
}
