@import 'variables';
@import '~font-awesome/scss/font-awesome';

/* So many bleeping wrapper tags. */
html,
body,
#app,
#app > div,
main {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: $site-fg;
  background: $site-bg;
}

main {
  display: flex;
  flex-direction: column;

  & > header {
    display: flex;
    align-items: center;
    padding: 0 $header-padding;
    color: $header-fg;
    background: $header-bg;
    border-bottom: 1px solid $header-border;

    &:after {
      content: '';
      flex-grow: 1;
      order: 1;
    }

    > div {
      order: 2;
    }

    button {
        color: $site-fg;
    }

    button:first-of-type {
        margin-right: 4.375em;
    }
  }

  & > section {
    padding-bottom: 25px;
  }
}

h1 {
  margin: .6875em 0 .78125em;
  font-size: 2em;
  font-variant: small-caps;
  line-height: 1em;
}

h2, h3 {
  color: $headings-fg;
}

button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;

  .fa {
    display: block;
    font-size: 2em;
  }
}

.icon-label {
  position: absolute;
  top: -1000px;
  left: -1000px;
}
