$fa-font-path: '~font-awesome/fonts';

$site-bg: white;

$headings-fg: black;
$header-line-height: 2.286em;
$header-padding: 1.142857em;

$header-bg: #d8d8d8;

$graph-labels: #525252;
$graph-lines: #d8d8d8;

$info-fg: #4a90e2;

$inactive-fg: #d1d1d1;
$selection-fg: #f5a623;

$button-icon-fg: #4a4a4a;
$button-bg: #d8d8d8;
$button-border: #979797;
