$fa-font-path: '~font-awesome/fonts';

$site-fg: #d1d1d1;
$site-bg: #0a1726;

$headings-fg: #2fff97;
$header-line-height: 2.286em;
$header-padding: 1.142857em;

$header-fg: white;
$header-bg: $site-bg;
$header-border: #979797;

$graph-labels: white;
$graph-lines: #4b545f;

$standout-fg: white;

$inactive-fg: #9b9b9b;
$selection-fg: $headings-fg;

$videos-video-fg: white;
$videos-video-bg: #162231;

$button-icon-fg: #4a4a4a;
$button-big-bg: $videos-video-bg;
$button-big-border: $site-fg;
