$fa-font-path: '~font-awesome/fonts';

$site-bg-raw: 10, 23, 38; // 0a1726

$site-fg: #d1d1d1;
$site-bg: RGB(#{$site-bg-raw}); // Workaround; SASS wants to call its own function here

$headings-fg: #2fff97;
$headings-reverse-fg: black;
$header-line-height: 2.286em;
$header-padding: 4.375em;

$header-fg: white;
$header-bg: $site-bg;
$header-border: #979797;

$graph-labels: white;
$graph-lines: white;

$standout-fg: white;

$inactive-fg: #9b9b9b;
$selection-fg: $headings-fg;

$background-inverse: RGBA(#{$site-bg-raw}, .5);

$videos-video-fg: white;
$videos-video-bg: RGBA(255, 255, 255, .05);
$videos-video-shadow: 0 0 4px 0 RGBA(203, 201, 201, .5);

$video-callout-bg: $videos-video-bg;
$video-callout-shadow: 0 -1px 13px 0 rgba(203, 201, 201, .93);
$video-callout-panel-bg: $videos-video-bg;

$help-fg: #4a4a4a;
$help-bg: white;

$back-fg: #00cfef;

$analysis-track-bg: RGBA(255, 255, 255, .1);

$button-icon-fg: #4a4a4a;
$button-big-bg: $videos-video-bg;
$button-big-border: $site-fg;
