@import '../../../styles/variables';

.introduction {
  align-self: center;
  width: 100%;
  max-width: 900px;
  padding-top: 2em;

  button {
    padding: 5.875em 6.13em;
    background: $button-big-bg;
    border: 5px dashed $button-big-border;

    .fa {
      font-size: 10.625em;
    }
  }
}
