@import '../../../styles/variables';

.introduction {
  align-self: center;
  width: 100%;
  max-width: 900px;
  padding-top: 2em;

  .upload {
    padding: 4.332em;
    font-size: 1.5em;
    background: $button-big-bg;
    border: 5px dashed $button-big-border;

    &.disabled {
      border-color: $disabled-fg;
    }

    &:before {
      content: url('../../../images/monitor.png');
    }

    &:not(.disabled):hover:before {
      content: url('../../../images/monitor_hover.png');
    }
  }
}
